.container-prod {
  width: 1138px;
  margin-top: 39px;
  margin-left: 86px;

  display: flex;
  flex-direction: row;
}

.prod-rel {
  width: 1138px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prod-rel h1 {
  position: absolute;
  width: 350px;
  height: 45px;
  left: 545px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  color: var(--pink);
}

.linha1 {
  position: absolute;
  width: 360px;
  left: 151px;
  top: 806px;
  border: 1px solid #dedede;
}

.linha2 {
  position: absolute;
  width: 360px;
  left: 929px;
  top: 806px;
  border: 1px solid #dedede;
}

.produtos {
  position: absolute;
  width: 1264px;
  height: 37px;
  left: 86px;
  top: 835px;
  margin-top: 20px;
}

.produtos ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.produtos ul li {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #bdbdbd;
  width: 211.5px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.produtos ul li a {
  text-decoration: none;
  color: #3b3b3b;
}

.produtos ul li span {
  font-weight: 700;
  color: var(--pink);
}
